.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #000;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.modal-3 a {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
}
.modal-3 a:hover {
  background-color: #5800ff;
}
.modal-3 a:active {
  background-color: #5800ff;
}

.icon-section {
  list-style: none !important;
  background-color: transparent !important;
  border: none !important ;
}
.icon-section:active,
.icon-section:focus,
.icon-section:hover {
  all: none !important;
}
